{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/car.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">


    <!--轮播大图-->
    <script src="{% static 'js/jquery-1.12.3.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/car.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>


</head>
<body>
<div class="relative">
    <div id="top">
        <div class="contaier" style="height:35px;">
            <div class="top_l">
                <div id="App">
                    <span style="background: url({% static 'img/headico.png' %})0 -2px no-repeat;width:40px;height:35px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span style="border-right:1px solid #ccc;padding-right:15px;padding-left:2px;">4000-250-630</span>
                    <a href=""
                       style="background: url({% static 'img/headico.png' %})-20px -2px no-repeat;width:40px;height:35px;margin-left:15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <a href="" title="下载美西APP">下载美西APP</a>
                </div>

                <div id="headerApp_m">
                    <div class="header_sj"></div>
                    <div class="headerApp_code"><a href="" title="下载美西APP"><img
                            src="{% static 'img/ewm_indexTop_1.png' %}" style="display: block;">扫码下载</a></div>
                </div>

            </div>
            <div class="top_r">
						<span>
							<a href="{% url 'fashion:login' %}" title="登录"
                               style="font-size: 20px">{{ user.name | default:'未登陆' }}</a>
							<a href="{% url 'fashion:register' %}" title="注册" style="font-size: 20px">注册</a>
                            <a href="{% url 'fashion:logout' %}" style="font-size: 20px;">退出</a>

						</span>
                <span id="shop">
							<a href="{% url 'fashion:car' %}"
                               style="margin-left: 18px;padding-left: 20px;border-left: solid 1px #d9d9d9;">
								<span style="background: url({% static 'img/headico.png' %})-37px -2px no-repeat;height:35px;font-size: 17px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<span style="font-size: 17px">购物车</span>
							</a>>

						</span>
                <div id="headershop">
                    <div class="header_sj" style="margin-left:140px;"></div>
                    <div class="headercar">

                        <div class="kong" style="text-align: center;padding:30px 0;">您的购物袋是空的</div>
                        <div class="cart_out">
                            <div class="car_t"><strong>我的商品</strong></div>
                            <div class="car_show">
                                <ul id="product2_li">
                                    {#											<!-- <li class="product2" style="overflow:hidden;">#}


                                </ul>


                            </div>
                            <div class="car_b">
                                <div class="to_l">
                                    <span>商品总计 ： ￥  </span>
                                    <span class="totalprice"></span>
                                </div>
                                <div class="to_r">
                                    <a href="car.html" class="settlement" style="font-size:18px;color: white;">现在就结算</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--logo图-->
    <div id="logo" class="relative">
        <div class="contaier relative">
            <a href="index.html" title="美西">
                <img src="{% static 'img/logo.png' %}"
                     style="padding-top:35px;height:60px;width: 220px;display: inline-block;" alt="美西">

            </a>
            <div class="absolute" style="width:250px;right:10px;top:40px;">
                <input type="text" id="" value="" placeholder="请输入关键字"
                       style="font-size:12px;height:28px;border:0;border-bottom:1px solid #e8e8e8;color:#6c6c6c;width:165px;outline:none;"/>
                <button class="absolute"
                        style="border:0;width: 30px;height:25px;background: white;outline:none;right:32px;top:5px;">
                    <a href=""
                       style="display:inline-block;height:20px;width:20px;background:url({% static 'img/headico.png' %})-60px 0 no-repeat;"></a>
                </button>
            </div>
        </div>
    </div>

    <!--导航-->
    <div id="nav">
        <div class="contaier" style="overflow: hidden;">
            <ul class="list_zong">
                <li><a href="{% url 'fashion:index' %}" title="首页">首页</a></li>
                <li><a href="" title="新近单品" id="menu1">新近单品</a></li>
                <li><a href="" title="全球购">全球购</a></li>
                <li><a href="list.html" title="女士" id="menu2">女士</a></li>
                <li><a href="" title="男仕" id="menu3">男仕</a></li>
                <li><a href="" title="童装" id="menu4">童装</a></li>
                <li><a href="" title="腕表" id="menu5">腕表</a></li>
                <li><a href="" title="品牌" id="menu6">品牌</a></li>
                <li><a href="" title="Mzine">Mzine</a></li>

            </ul>
        </div>
        <!--隐藏二级菜单-->
        <!--新品-->
        <div id="nts">
            <div class="new_list">
                <div class="contaier relative">
                    <div class="circle" style="padding-left:340px;overflow: hidden;">

                    </div>

                </div>
            </div>
            <div class="headerShadow" style="top:193px;left:230px;"></div>
        </div>

        <!--女士-->
        <div id="women">
            <div class="women_list">
                <div class="contaier">
                    <div style="padding-left:80px;overflow: hidden;">

                    </div>
                </div>
            </div>
            <div class="headerShadow" style="top:193px;left:498px;"></div>
        </div>


        <!--男士-->
        <div id="man">
            <div class="man_list">
                <div class="contaier">
                    <div class="circle" style="padding-left:80px;overflow: hidden;">

                    </div>
                </div>
            </div>
            <div class="headerShadow" style="top:193px;right:622px;"></div>
        </div>


        <!--童装-->
        <div id="wear">
            <div class="wear_list">
                <div class="contaier">
                    <div style="padding-left:340px;overflow: hidden;">

                    </div>
                </div>
            </div>
            <div class="headerShadow" style="top:193px;right:488px;"></div>
        </div>

        <!--腕表-->
        <div id="watch">
            <div class="watch_list">
                <div class="contaier">
                    <div style="padding-left:340px;overflow: hidden;">

                    </div>
                </div>

            </div>
            <div class="headerShadow" style="top:193px;right:356px;"></div>
        </div>

        <!--品牌-->
        <div id="brand">
            <div class="brand_list relative">
                <div class="contaier">
                    <div style="padding-left:340px;overflow: hidden;">

                    </div>

                </div>

            </div>
            <div class="headerShadow" style="top:193px;right:222px;"></div>
        </div>

    </div>

    <div class="clearfix">

    </div>
    <!--中间购物车-->
    <div class="conten">
        <div class="contaier">
            <div class="cart">
                <ul>
                    {% for car in cars %}
                        <li>
                            <div class="confirm-wrapper" data-cardid="{{ car.id }}">
                                {% if car.isselect %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {% else %}
                                    <span class="no"></span>
                                {% endif %}
                            </div>

                            <div class="content-wrapper">
                                <div class="img">
                                    <img src="{% static car.goods.img %}" alt="">
                                </div>
                                <div class="detail">
                                    <p class="name">{{ car.goods.alt }}</p>
                                    <p class="price" data-price="{{ car.goods.price_good }}">
                                        ￥{{ car.goods.price_good }}</p>
                                    <span class="num" data-number="{{ car.number }}">X &nbsp;{{ car.number }}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                {#                        <div class="bill">#}
                {#                            <div class="bill-left">#}
                {#                                <div class="all" data-all="{{ isall|lower }}">#}
                {#                                    {% if isall %}#}
                {#                                        <span class="glyphicon glyphicon-ok"></span>#}
                {#                                    {% else %}#}
                {#                                        <span class="no"></span>#}
                {#                                    {% endif %}#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
            </div>

            <!-- 删除选中 -->
            <div class="totall">
                <div class="float_r" style="bottom: 1px ;">已选商品<i id="total_nums"
                                                                  style="color: red;font-weight:bolder;">0</i>件
                    <span style="margin-left: 20px;">合计（不含运费、税费）：<span class="total"
                                                                       style="color:red;font-size:18px;font-weight:bolder;margin-right:30px">0</span></span>

                </div>
                <div class="clearfix">
                    <div class="all" data-all="{{ isall|lower }}">
                        {% if isall %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="no"></span>
                        {% endif %}

                        <b style="font-size: 17px;">全选</b>
                    </div>
                </div>

                <div class="goon float_l">
                    <a href="{% url 'fashion:list' %}">继续购物</a>
                </div>
                <div class="goon1 float_r">
                    <a href="{% url 'fashion:generateorder' %}" style="color: white">下单</a>
                </div>
            </div>

            <div class="clear"></div>


        </div>
        <!--猜你喜欢-->
        <div class="like" style="background:white;overflow:hidden;border:1px solid #e8e8e8">
            <div class="pro_pubtit">
                <div class="tabTitle">
                    <div class="tabTitle_m">Product <span>Recommend</span></div>
                    <p>相关推荐</p>
                </div>
            </div>
            <!--<div class="run_pic">-->
            <div id="like_shop" class="run_pic_like">
                <div id="like_small">

                    <div id="car_prev"><img src="{% static 'img/pre_btn.png' %}" style="padding-top:100px;"/></div>
                    <div id="car_next"><img src="{% static 'img/next_btn.png' %}" style="padding-top:100px;"/></div>
                </div>

                <!--</div>-->
            </div>
        </div>
    </div>

    <!--购物指南-->
    <div id="foot" style="background:white;width: 100%;margin-top: 30px;border-top: 1px solid #e8e8e8;">
        <div class="contaier">
            <div class="foot_top"
                 style="margin: 0 auto;padding-top: 40px;width: 1200px; height: 232px;background: #fff;">
                <div class="shop">
                    <ul>
                        <li class="foot_t">购物指南</li>
                        <li><a href="" title="购物流程">购物流程</a></li>
                        <li><a href="" title="配送方式">配送方式</a></li>
                    </ul>
                    <ul>
                        <li class="foot_t">支付方式</li>
                        <li><a href="" title="如何付款">如何付款</a></li>
                        <li><a href="" title="发票制度">发票制度</a></li>
                    </ul>
                    <ul>
                        <li class="foot_t">商品说明</li>
                        <li><a href="" title="商品尺码">商品尺码</a></li>
                        <li><a href="" title="商品包装">商品包装</a></li>
                    </ul>
                    <ul>
                        <li class="foot_t">客服中心</li>
                        <li><a href="" title="七天退换">七天退换</a></li>
                        <li><a href="" title="常见问题">常见问题</a></li>
                    </ul>
                </div>
                <div class="phone" style="text-align:center;font-size:12px;color:#555;">
							<span style="color:#333;font-size:14px;">
								客服电话
							</span>
                    <h5 style="line-height:65px;font-size:24px;font-weight:900;">4000-250-630</h5>
                    <p style="line-height:30px;">工作日 08:30-21:30</p>
                    <p style="line-height:30px;">节假日 10:00-18:00</p>

                </div>
                <div class="mail">
                    <p style="display: block;margin-bottom:20px;">订阅美西杂志</p>
                    <input type="text" name="" id="" placeholder="E-mail" style="outline:none;" ;/>
                    <div class="now">
                        即刻订阅
                    </div>
                </div>
                <div class="code">
                    <div class="code_l">
                        <span style="font-size:14px;color: #333;">美西APP</span>
                        <div style="margin-top:20px;border:1px solid #e8e8e8;padding:20px;">
									<span style="display:block;width:67px;height:67px;">
										<img src="{% static 'img/down_app.png' %}"/>
									</span>
                        </div>

                    </div>
                    <div class="code_r">
                        <span style="font-size:14px;color: #333;">官方微信</span>
                        <div style="margin-top:20px;border:1px solid #e8e8e8;padding:20px;">
									<span style="display:block;width:67px;height:67px;">
										<img src="{% static 'img/wechat.png' %}"/>
									</span>
                        </div>

                    </div>
                    <!--<div style="">-->
                    <p style="clear:both;text-align:right;line-height:60px;color:#999;font-size:12px;">
                        手机扫码即可下载美西APP或关注官方微信
                    </p>
                    <!--</div>-->

                </div>

            </div>

        </div>
        <div class="foot_miu">
            <div class="contaier relative">
                <ul style="line-height:138px;color:white;font-size: 18px;height:138px;">
                    <li>
                        <div class="foot_icon icon1">
                        </div>
                        <span>100%正品保证</span>
                    </li>
                    <li>
                        <div class="foot_icon icon2">
                        </div>
                        <span>7天无忧退货</span>
                    </li>
                    <li>
                        <div class="foot_icon icon3">
                        </div>
                        <span>九年专注，品质保障</span>
                    </li>
                </ul>
            </div>
            <div class="miu_line"></div>


        </div>
        <div class="footer">
            <div class="contaier" style="padding-top:30px;">
                <div class="footer_l float_l">
                    <ul>
                        <li style="border-left:none;"><a href="" title="媒体报道">媒体报道</a></li>
                        <li><a href="" title="正品保证">正品保证</a></li>
                        <li><a href="" title="业务合作">业务合作</a></li>
                        <li><a href="" title="隐私声明">隐私声明</a></li>
                        <li><a href="" title="加入美西">加入美西</a></li>
                        <li><a href="" title="联系我们">联系我们</a></li>
                    </ul>
                    <div class="clear"></div>
                    <div style="padding-left:12px;">
                        <p style="line-height:47px;">Copyright ©2008-2017，美西-高端时尚生活电商</p>
                    </div>
                    <div style="padding-left:12px;">
                        <span style="margin-right:20px;">沪ICP备09001221号</span>
                        <span style="margin-right:20px;">沪公网安备11010802017116号</span>
                    </div>
                </div>
                <div class="footer_miu float_l"></div>

                <div class="footer_r float_r" style="color: #999;font-size:12px;">
                    <div style="text-align:center;margin: 5px 0 23px;">
                        <span>合作支持</span>
                    </div>
                    <ul>
                        <li class="par1" style="padding-top:5px;"><a href=""></a></li>
                        <li class="par2" style="padding-top:6px;">
                            <a href="">
                                <span style="margin-right: 4px;"></span>
                                <i class="float_l">银联特约商户</i>
                            </a>
                        </li>
                        <li class="par3" style="padding-top:5px;"><a href=""></a></li>
                        <li class="par4"><a href=""></a></li>
                        <li class="par5" style="padding-top:4px;"><a href=""></a></li>
                        <li class="par6" style="padding-right:0;padding-top:4px;"><a href=""></a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>

