{% extends 'index.html' %}
{% load static %}
{% block extcss %}
    <link rel="stylesheet" href="">
{% endblock %}
{% block content %}
<div class='title_women'></div>
<div class='shop_women'></div>


<div class='list_ti'>


</div>
    <div class='list_list'>

    <ul>
        <li>

        </li>
    </ul>

    </div>
    <div class='shaow'></div>
    <div id='product_li'>
            <li>
                <img src= ''  alt=''>
                <p> </p>
                <span></span>
                <div class='product_n'>

                </div>
                <div class='product_p'>
                    <div class='prop_l'>

                    </div>
                    <div class='prop_r'>
                        <a href=''></a>
                    </div>

                </div>
            </li>

    </div>
    <div class='aaa'>

    </div>

  <script src='{% static 'js/jquery-1.12.3.js' %}'></script>
<script src='{% static 'js/jquery.cookie.js' %}'></script>

<script src='{% static 'js/cookie.js' %}'></script>
<script src='{% static 'js/list.js' %}'></script>

{% endblock %}

