{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}"/>

	</head>
	<body>
		<!--头部-->
		<div id="header" class="header" style="margin-bottom:20px;">
		    <div style="width: 100%;background: #fff;">
		        <div class="header_l">
		            <a href="index.html" title="美西">
		            	<div class="logo"></div>
		            </a>
		            <div class="float_r" style="line-height:154px;">
		                <span>需要帮助？</span>
		                <!--<div class="relative">-->
		                	<span class="icon_top"></span>
		                	<span>4000-250-630</span>
		                <!--</div>-->
		            </div>
		            <div class="clear"></div>
		        </div>
		    </div>
		    <div class="line_btn" style="display:block;background: url({% static 'img/headerbg.png' %})repeat-x;width:100%;height:8px;">
		    </div>
		</div>
		<!--中间注册-->
		<div class="reg relative">
			<div class="reg_form absolute">
				<form action="{% url 'fashion:register' %}" method="post">
                    {% csrf_token %}

					<div class="beauty">
						注册美西账户
					</div>
					<div class="phone clearfix">
						<div class="phone_icon1 float_l"></div>
						<div class="phone_menu relative float_l">
							<input id="ipt1" type="text" name='phone'  placeholder="请输入常用手机号"/>
						</div>
						
					</div>
					<!--<div class="clearfix">-->
					<!--<div class="auth" style="height:36px;margin-bottom:10px;">
						<div class="float_l" style=" width: 166px;height:32px;">
							<input id="ipt2" type="text" placeholder="请输入验证码" style="height:36px;"/>
							
						</div>
						<div id="code" class="float_r" style="cursor:pointer;text-align:center;line-height:30px;font-size:18px;font-weight:900;width: 120px;height:30px;background:url(../img/code.png)no-repeat;">
							1234
	
						</div>
					</div>		-->
						
					<div class="auth" style="height:36px;margin-bottom:10px;">
						<div class="float_l" style=" width:120px;height:32px;">
							<input id="ipt2" type="text" placeholder="请输入验证码" style="height:36px;"/>
							
						</div>
						<button id="my_button" style="margin-left:13px;margin-top:3px;width:50px;height:30px;float:left;">验证</button>
						<div id="v_container" style="margin-left:5px;margin-top:3px;width:110px;height:30px;float:left;"></div>
					</div>	
					<!--</div>-->
					
					<div class="note float_l">
						<div class="note_icon float_l"></div>
						<div class="note_menu float_l" style="width:150px;margin: 0 0 0 4px;">
							<input name="name" type="text" placeholder="请输入用户名" />
						</div>
						
					</div>
					<div class="notice float_r" style="margin-top:7px;">
{#						<a href="" style="color: #669aca;font-size:12px;">发送验证码</a>#}
					</div>
					
					<!--清除浮动-->
					<div class="clear"></div>
					
					<div class="pwd clearfix">
						<div class="pwd_icon float_l"></div>
						<div class="pwd_menu float_l">
							<input id="ipt4" type="password" name="password" placeholder="请输入密码"/>
						</div>
						
					</div>
					<div class="pwd2 clearfix">
						<div class="pwd_icon float_l"></div>
						<div class="pwd2_menu float_l">
							<input id="ipt5" type="password" placeholder="再次输入密码"/>
						</div>
						
					</div>
					<div id="tip" style="height: 30px;color: #cc3d3d;text-align:center;"></div>
					<div class="regs">
						<input id="ipt6" type="submit" style="cursor:pointer;outline:none;" value="注册">
					</div>
					<div class="login" style="font-size:12px;">
						已注册？
						<a href="{% url 'fashion:login' %}" style="color:#669aca;">登录</a>
					</div>
				</form>
			</div>

		</div>
		<!--购物指南-->
		<div id="foot" style="width: 100%;margin-top: 30px;border-top: 1px solid #e8e8e8;">
			<div class="foot_miu">
				<div class="contaier relative">
					<ul style="line-height:138px;color:white;font-size: 18px;height:138px;">
						<li>
							<div class="foot_icon icon1">
							</div>
							<span>100%正品保证</span>
						</li>
						<li>
							<div class="foot_icon icon2">
							</div>
							<span>7天无忧退货</span>
						</li>
						<li>
							<div class="foot_icon icon3">
							</div>
							<span>九年专注，品质保障</span>
						</li>
					</ul>
				</div>
				<div class="miu_line"></div>
			</div>
			<div class="footer">
				<div class="contaier" style="padding-top:30px;">
					<div class="footer_l float_l">
						<ul>
							<li style="border-left:none;"><a href="" title="媒体报道">媒体报道</a></li>
							<li><a href="" title="正品保证">正品保证</a></li>
							<li><a href="" title="业务合作">业务合作</a></li>
							<li><a href="" title="隐私声明">隐私声明</a></li>
							<li><a href="" title="加入美西">加入美西</a></li>
							<li><a href="" title="联系我们">联系我们</a></li>
						</ul>
						<div class="clear"></div>
						<div style="padding-left:12px;">
							<p style="line-height:47px;">Copyright ©2008-2017，美西-高端时尚生活电商</p>
						</div>
						<div style="padding-left:12px;">
							<span style="margin-right:20px;">沪ICP备09001221号</span>
							<span style="margin-right:20px;">沪公网安备11010802017116号</span>
						</div>
					</div>
					<div class="footer_miu float_l"></div>
					
					<div class="footer_r float_r" style="color: #999;font-size:12px;">	
						<div style="text-align:center;margin: 5px 0 23px;">
							<span>合作支持</span>
						</div>
						<ul>
							<li class="par1" style="padding-top:5px;"><a href=""></a></li>
							<li class="par2" style="padding-top:6px;">
								<a href="">
									<span style="margin-right: 4px;"></span>
									<i class="float_l">银联特约商户</i>
								</a>
							</li>
							<li class="par3" style="padding-top:5px;"><a href=""></a></li>
							<li class="par4"><a href=""></a></li>
							<li class="par5" style="padding-top:4px;"><a href=""></a></li>
							<li class="par6" style="padding-right:0;padding-top:4px;"><a href=""></a></li>
						</ul>
					</div>
					
				</div>
			</div>
			
		</div>
	</body>
<script src="{% static 'js/jquery-1.12.3.js' %}"></script>
<script src="{% static 'js/register.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>

<script src="{% static 'js/gVerify.js' %}"></script>
{#    <script src="{% static 'php/register.php' %}"></script>#}
</html>
